
/* الصفحة كلها */
.app-layout {
  display: flex;
  background-color: #f4f6f8;
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
}

/* المحتوى الرئيسي */
.content-area {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}
.visual-check-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.checklist-grid {
  display: grid;
  grid-template-columns: 1fr repeat(5, 1fr); /* عمود للـ Checklist و 5 أنواع */
  gap: 6px;
  width: 80%;
  margin-bottom: 20px;
  margin-left: 100px;
}

.checklist-header, .type-header {
  background-color: #e0e0e0;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

.checklist-item {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.data-cell {
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.save-button {
  background-color: #8fbc8f; /* لون أخضر فاتح */
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.save-button span {
  margin-right: 10px;
  font-size: 1.5em;
}

.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.search-input {
  padding: 6px 10px;
  font-size: 16px;
}

.search-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 6px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}
